<div class="ui menu teal inverted segment">
  <h1 class="header">My repos</h1>
</div>
<div class="ui raised segments">
  <div class="ui basic repos form segment">
    <h3 class="ui dividing header">Looking for a repo?</h3>
    <div class="field">
      <!-- <input ng-model="repos.search" type="text" placeholder="Type something to search (e.g. name,language)" /> -->
      <select ng-model="repos.search" class="ui fluid search dropdown">
        <option value="">Select a language or type something to search (e.g. C#, github.io)</option>
        <option value="-1">List all repos</option>
        <option ng-repeat="language in repos.languages" value="{{language}}">{{language}}</option>
      </select>
    </div>
  </div>
  <div class="ui repos list basic segment">
    <div class="ui active dimmer" ng-show="repos.loading">
      <div class="ui text loader">Loading Repos</div>
    </div>
    <div class="ui three cards">
      <div class="card" ng-repeat="repo in repos.repos | filter: repos.searchRepos ">
        <div class="content">
          <div class="header">{{repo.name}}</div>
          <div class="meta">{{repo.language}}</div>
          <div class="description">
            {{repo.description}}
          </div>
        </div>
        <a href="{{repo.html_url}}" class="ui bottom attached button">
          <i class="github icon"></i>
          Open
        </a>
      </div>
    </div>
  </div>
</div>
