<div class="ui menu teal inverted segment">
  <h1 class="header">My Repos</h1>
</div>
<div class="ui raised segments">
  <div class="ui basic repos form segment">
    <h3 class="ui dividing header">Looking for a repo?</h3>
    <div class="field">
      <!-- <input ng-model="repos.search" type="text" placeholder="Type something to search (e.g. name,language)" /> -->
      <select ng-model="repos.search" class="ui fluid search dropdown">
        <option value="">Select a language or type something to search (e.g. C#, github.io)</option>
        <option value="-1">List all repos</option>
        <option ng-repeat="language in repos.languages" value="{{language}}">{{language}}</option>
      </select>
    </div>
  </div>
  <div class="ui repos list basic segment">
    <div class="ui active dimmer" ng-show="repos.loading">
      <div class="ui text loader">Loading Repos</div>
    </div>
    <div class="ui three cards">
      <div class="card" ng-repeat="repo in repos.repos | filter: repos.searchRepos ">
        <div class="content">
          <div class="header">{{repo.name}}</div>
          <div class="meta">{{repo.language}}</div>
          <div class="description">
            {{repo.description}}
          </div>
        </div>
        <a href="{{repo.html_url}}" class="ui bottom attached button">
          <i class="github icon"></i>
          Open
        </a>
      </div>
    </div>
  </div>
</div>


<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="twelve wide column">
        <h4 class="ui inverted header">About me</h4>
        <p>Web developer, tech student, curious by nature and programmer on my spare time.</p>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Contact</h4>
        <div class="ui inverted link list">
          <a href="http://chico.postero.com.br" class="item">Personal Page</a>
          <a href="https://github.com/chicobentojr" class="item">Github</a>
          <a href="https://www.facebook.com/chico.bento.jr" class="item">Facebook</a>
        </div>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <img src="assets/images/postero-logo.png" class="ui centered mini image">
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="http://chico.postero.com.br">Francisco Bento</a>
      <a class="item" href="http://www.postero.com.br">Postero Company</a>
      <a class="item" href="http://semantic-ui.com/">Design: Semantic</a>
    </div>
  </div>
</div>
